<h1>New Cars</h1>

<form>
	<label for="registration_plate">Registration plate: </label><br>
	<input type="text" name="registration_plate"><br><br>
	<label for="type_of_car">Type of car: </label><br>
	<input type="text" name="type_of_car"><br><br>
	<label for="model">Model: </label><br>
	<input type="text" name="model"><br><br>
	<label for="year">Year: </label><br>
	<input type="date" name="year"><br><br>
	<label for="color">Car color: </label><br>
	<input type="color" name="color"><br><br>
	<label for="brand">Brand: </label><br>
	<input type="text" name="brand"><br><br>
	<input type="submit">
</form>